/* NAV MENU */
nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.navBar {
  z-index: 1000;
  position: relative;
}
h1.logo {
  margin: 0px;
  padding: 1rem 3.5rem;
}


/* Overlay css */
.shape-overlays {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
}
.shape-overlays.is-opened {
	pointer-events: auto;
}
.shape-overlays__path:nth-of-type(1) {
	fill: #413f46;
}
.shape-overlays__path:nth-of-type(2) {
	fill: #e6e5ea;
}
.shape-overlays__path:nth-of-type(3) {
  /* fill: #cccccc; */
  fill: #888492;
}
/* End Overlay style */


.navButton {
  display: inline;
  position: absolute;
  right: 3.5rem;
  top: 1.25rem;
  width: 2.3rem;
  height: 1.2rem;
  cursor: pointer;
}
@keyframes slideIn {
  from {transform: translateY(-100%)}
  to {transform: translateY(0%)}
}
@keyframes slideOut {
  from {transform: translateY(0%)}
  to {transform: translateY(-100%)}
}
.navDown span > span {
  background-color: white !important;
}
.navMenu {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.navMenu > div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in;
  transition-delay: .1s;
  z-index: 0;
}
.navMenu > div:nth-of-type(2) {
  transition-delay: .15s;
  
}
.navMenu > div:nth-of-type(3) {
  transition-delay: .21s;
}
.navMenu > div:nth-of-type(4) {
  transition-delay: .35s;
}
.navMenu a {
  color: white;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-size: 4rem;
  text-decoration: none;
  transition: all .2s ease-out;
}
.navMenu a:hover {
  letter-spacing: 1.5rem;
  font-size: 4.8rem;
}
